*.DS_Store
*.vs_code
*.vscode

# latex files
*main.fls
*main.aux
*main.log
*main.synctex.gz
*main.fdb_latexmk
*__pycache__

*copy_indoor.py
*download_coco.py
src/face-detection/res/indoor_scenes
src/face-detection/res/no-face-dataset-coco
src/face-detection/res/non_face_indoor_scenes

# dont want to include the current aws credentials in git
res/credentials/creds.yaml
res/credentials/.aws/credentials