*.DS_Store
*.vs_code
*.vscode

# latex files
*main.fls
*main.aux
*main.log
*main.synctex.gz
*main.fdb_latexmk
*__pycache__
*end.aux
*main.out
*main.snm
*main.toc
*main.nav



*copy_indoor.py
*download_coco.py
face-detection/res/indoor_scenes
face-detection/res/no-face-dataset-coco
face-detection/res/non_face_indoor_scenes

# dont want to include the current aws credentials in git
res/credentials/creds.yaml
res/credentials/.aws/credentials

# logs collected from docker after running are stored here.
res/collected_logs
